*
{
    margin: 0;
    padding: 0;
}
p
{
    opacity: 0.8;
}
/* Banner Section */

.navbar
{
    padding: 1rem 1rem;
}
.nav-link
{
    color: black;
    font-weight: 600;
}
.navbar-brand
{
    font-weight: 700;
    font-size: 30px;
}
.Signup-button
{
    background-color:#1363DF;
    color: white;
    margin: 0 1rem;
}
.button-set>*
{
    font-weight: 600;
    margin-right: 1rem;
    margin-top: 1rem;
}
.play-button
{
    font-size: 30px;
    padding-right: 10px;
}
.fa-regular
{
    font-size: 20px;
}
.play-btn
{
    font-size: 18px;
}
.main-head
{
    margin: auto;
}
.main-head h1
{
    font-size: clamp(2.5rem, 3rem, 4rem); 
}

.main-head p
{
    font-size: clamp(1rem, 1.2rem, 1.5rem); 
}

#main-img
{
    width: 100%;
}

.title-container
{
    padding: 0 1rem;
}

#bg-margin
{
    padding: 2rem 0;
    height: 20px;
}
@media screen and (min-width:992px){
    .title-body
    {
        padding: 0 4rem;
    }
    
    #main-img
    {
        width: 120%;
    }
    .title-body
    {
        padding: 0 5rem;
    }
    #bg-margin
    {
        padding: 3rem 0;
        height: auto;
    }
    
    .navbar
    {
        padding: 1rem 4rem;
    }
    .main-head h1
    {
        width: 30rem;
    }
    .main-p
    {
        width: 30rem;
    }
    
}

@media screen and (max-width:992px){
    body
    {
        overflow-x: hidden;
    }
    .main-p
    {
        width: 80%;
        margin: auto;
        padding: 1rem 0 ;
    }
    .main-head
    {
        text-align: center;
        padding: 2rem 1rem;
    }
    .main-head h1
    {
        font-size: 2rem ;
        font-weight: 700;
    }
    .navbar-brand
    {
        font-size: 20px;
    }
    
} 

/* About Section */

.about-row>*
{
    padding: 0 3rem;
}
.icons
{
    width: clamp(25px, 40px, 60px); 
    
}
.about-section
{
    text-align: center;
}

.about-col
{
    text-align: center; 
}
.about-section h1
{
    padding: 1rem 0;
}
.about-intro
{
    width: 30rem;
    margin: auto;
    padding: 1rem 0;
}
h4
{
    font-weight: 700;
}
.about-row
{
    gap: 3rem;
    padding-top: 2rem;
}

@media screen and (max-width:992px){
    .about-col
    {
        width: 20rem;
    }
} 

@media screen and (max-width:540px){

    .about-intro
        {
            width: 18rem;
        }
}


/* Start Section */
.start-section
{
    padding: 5rem 0;
    
}
.start-section h2
{
    font-weight: 700;
}
.start-section h4
{
    font-weight: 600;
}
.start
{
    display: flex;
    gap: 1rem;
}
.step-icon
{
    width: 40px;
}
.start p
{
    width: 25rem;
}

@media screen and (max-width:992px){
    .start-section
    {
        text-align: center;
    }
    .start-section p
    {
        max-width: clamp(80%, 90%, 100%);
        text-align: center;
        margin: auto;
        font-size: 16px;
    }
    .start
    {
        display: block;
        padding: 1.5rem;
    }
    .my-auto
    {
        padding-top: 1rem;
    }
    
   
}




/* Features Section */

.feature-icon
{
    width:clamp(30px,45px,60px );
}
.feature-flex
{
    display: flex;
    gap: 2rem;
}

.feature h1
{
    text-align: center;
    padding-top: 1rem;
}
#feature-p
{
    width: 35rem;
    text-align: center;
    margin: auto;
    padding-bottom: 3rem;
}
.p-feature
{
   width: 70%;
}

@media screen and (max-width:992px){
    .feature-flex
    {
        display: block;
    }
    .features-section
    {
        text-align: center;
    }
    .features-section p
    {
        max-width: clamp(50%, 70%, 90%);
        text-align: center;
        margin: auto;
        font-size: 16px;
        padding-bottom: 2rem;
    }
    .features-section h4
    {
        font-weight: 500;
    }
}



/* Download Section */

.download-section
{
    padding: 0 6rem;
}
.download-section h3
{
    font-weight: 600;
    font-size: clamp(25px,35px,50px );
    padding:1rem ;
}
.download-section p
{
    min-width:clamp(30vw,40vw,50vw) ;
}
.download-buttons
{
    display: flex;
    gap: 2rem;
}

@media screen and (max-width:992px){
    .download-section
    {
        padding: 0 2rem;
        text-align: center;
    }
    .download-section h3
    {
        font-size: 30px;
        font-weight: 700;
    }
    .download-buttons
    {
        justify-content: center;
    }  
}
@media screen and (max-width:992px) {
    .download-row{
        display:flex;
        flex-flow: column;
      }
      .download-text{order:2;}
      .download-img{order:1; padding: 0;}

      .download-section h3
      {
        padding-top: 0;
      }

      
}


/* Customer-service Section */

.Signup
{
    padding: .25rem 1.5rem;
    font-weight: 700;
}
.customer-section p
{
    width: 80%;
    padding: .75rem 0;
}

@media screen and (max-width:992px)
{
    .customer-section
    {
        text-align: center;
    }
    .customer-section p
    {
        
        max-width:clamp(50vw,60vw,70vw) ;
        text-align: center;
        margin: auto;
    } 
    
    .Signup
    {
        margin-bottom:2rem ;
    }
    #customer-img
    {
        padding-top: 2rem;
    }
}


/* Partners Section */

.partner-section
{
    padding: 2rem 1rem;
}
.brand-logos
{
    font-size: 20px;
    
}
.logos
{
    font-size: 40px;
}
hr
{
    width: 20%;
    margin:2rem auto ;  
}
@media screen and (max-width:768px)
{
    .partner-section p
    {
        width: 60vw;
        margin: auto;
    }
    .brand-logos
    {
        padding: 1rem;
    }
    .logos
    {
        padding: 1rem;
        text-align: left;
    }
    hr
    {
        margin:1rem auto ;
    }
}

/* Footer section */

footer
{
    
    color: white;
    background: #212529;
    margin-top: 2rem;
}

.text-small {
    font-size: 0.9rem;
  }
  
 footer a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  footer a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    background: #fff;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #fff;
  }
  
  input, select, textarea{
    color: #ffff;
  
}

@media screen and (max-width:768px)
{
    footer
    {
        text-align: center;
    }
    footer p
    {
        width: 70vw;
        margin: auto;
    }
    .input-group
    {
        width: 60vw;
        margin: 1.5rem auto;
    }
}
